--extra-index-url https://download.pytorch.org/whl/cpu
# Rebuild trigger v1
numpy
pandas
torch
omicverse
combat
matplotlib
torch_geometric
openpyxl
streamlit
scipy
seaborn
PyYAML
gseapy
adjustText
scikit-learn
anndata