--extra-index-url https://download.pytorch.org/whl/cpu
numpy>=2.1
pandas>=2.2
torch
omicverse
combat
matplotlib
torch_geometric
openpyxl
streamlit
scipy>=1.14
seaborn
PyYAML
gseapy
adjustText
scikit-learn
anndata